<h1> FYP Test environment</h1>

 <agm-map (mapClick)="getTweetDataOnMapClick($event)"  (boundsChange)="getTweetDataOnBoundsChange()">
    <agm-marker [latitude]="myLat" [longitude]="myLng" [label]="myLabel"></agm-marker>
    <!-- <agm-marker (onCreate)="test()" *ngFor="let tweet of tweetArray" (markerClick)="compareSimWithMarker(tweet)" [label]="tweet.Label" [latitude]="tweet.Latitude" [longitude]="tweet.Longitude">
        <agm-info-window>
            <div class="tweet-window-container">
                <ul class="list-group">
                    <li class="list-group-item"><h5>User:</h5> {{tweet.Screenname}}</li>
                    <li class="list-group-item"><h5>text:</h5> {{tweet.Text}}</li>
                    <li class="list-group-item"><h5>Tags:</h5> {{tweet.Tags}}</li>
                </ul>
            </div>
        </agm-info-window>
    </agm-marker> -->
</agm-map>

<div class="flash-message-container">
    <flash-messages></flash-messages>
</div>

<div class="form-check disabled">
    <h3>Options</h3>
<label class="form-check-label">
    <input class="form-check-input" type="checkbox" [checked]="isMapLoadEnabled" (change)="isMapLoadEnabled = !isMapLoadEnabled">
    Enable tweet window load on pan/zoom
</label>
</div>

<table>
    <tr>
        <td>
            <h3>Sample Size</h3>
            <p>{{sliderSampleSize}}</p>
            <div ngD3Slider id="sampleSize" [step]="1"  [length]="250" [minValue]="1" [maxValue]="500" [initialValue]="200" (selectedValue)="onSliderSampleChange($event)"></div>
        </td>
        <td>
            <h3>Displayed Tweets</h3>
            <p>{{sliderSelectedSize}}</p>
            <div ngD3Slider id="displayNum" [step]="1"  [length]="250"  [maxValue]='sliderSampleSize'  [minValue]="1"  [initialValue]="200" (selectedValue)="onSliderDisplayChange($event)"></div>
        </td>
        <td>
            <h3>Map Display</h3>
            <p>{{sliderExternalSize}}</p>
            <div ngD3Slider id="mapDisplayNum" [step]="1"  [length]="250" [minValue]="1" [maxValue]="100" [initialValue]="100" (selectedValue)="onSliderMapChange($event)"></div>
        </td>
        <td>
            <h3>Alpha</h3>
            <p>{{sliderAlphaValue}}</p> 
            <div ngD3Slider id="alpha" [step]="0.01" [length]="250" [minValue]="0" [maxValue]="1" [initialValue]="0.5" (selectedValue)="onSliderAlphaChange($event)"></div>
        </td>
    </tr>
</table>

<hr>

<table class="table table-hover" >
    <thead>
        <tr>
            <th scope="col">Text</th>
            <th scope="col">Cossim</th>
            <th scope="col">Distance(KM)</th>
            <th scope="col">Normalized Sim</th>
        </tr>
    </thead>
    <tbody> 
        <tr scope="row" class="table-active" *ngFor="let tweet of tableDisplay | async">
            <td>{{tweet.Tags}}</td>
            <td>{{tweet.CosSim}}</td>
            <td>{{tweet.Distance}}</td>
            <td>{{tweet.NormalizedSim}}</td>
        </tr>
    </tbody>
</table>
<br>