<h1> FYP Test environment</h1>

 <agm-map (mapClick)="getTweetData($event)">
    <agm-marker [latitude]="myLat" [longitude]="myLng" [label]="myLabel"></agm-marker>
    <agm-marker  *ngFor="let tweet of tweetArray" (markerClick)="getMarkerData(tweet)" [label]="tweet.Label" [latitude]="tweet.Latitude" [longitude]="tweet.Longitude">
        <agm-info-window>
            <div class="tweet-window-container">
                <ul class="list-group">
                    <li class="list-group-item"><h5>User:</h5> {{tweet.Screenname}}</li>
                    <li class="list-group-item"><h5>text:</h5> {{tweet.Text}}</li>
                    <li class="list-group-item"><h5>Tags:</h5> {{tweet.Tags}}</li>
                </ul>
            </div>
        </agm-info-window>
    </agm-marker>
</agm-map>

<div class="flash-message-container">
    <flash-messages></flash-messages>
</div>

<h2>Sample Size</h2>
 <p>{{slider1Value}}</p>
 <div ngD3Slider id="sampleSize" [step]="1"  [length]="250" [minValue]="1" [maxValue]="500" [initialValue]="200" (selectedValue)="onSlider1Change($event)"></div>

 <h2>Displayed Tweets</h2>
 <p>{{slider2Value}}</p>
 <div ngD3Slider id="displayNum" [step]="1"  [length]="250" [minValue]="1" [maxValue]="500" [initialValue]="200" (selectedValue)="onSlider2Change($event)"></div>


<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Text</th>
            <th scope="col">Tags</th>
            <th scope="col">Cosine Sim</th>
        </tr>
    </thead>
    <tbody>
        <tr scope="row" class="table-active" *ngFor="let tweet of tweetArray">
            <td>{{tweet.Text}}</td>
            <td>{{tweet.Tags}}</td>
            <td>{{tweet.Similarity}}</td>
        </tr>
    </tbody>
</table>
<br>