<h1> FYP Test environment</h1>

 <agm-map (idle)="mapSettle()">
    
</agm-map>

<div class="flash-message-container">
    <flash-messages></flash-messages>
</div>

<button (click)="test()">Click</button>

<table>
    <tr>
        <td>
            <h2>Sample Size</h2>
            <p>{{sliderSampleSize}}</p>
            <div ngD3Slider id="sampleSize" [step]="1"  [length]="250" [minValue]="1" [maxValue]="500" [initialValue]="200" (selectedValue)="onSliderSampleChange($event)"></div>
        </td>
        <td>
            <h2>Displayed Tweets</h2>
            <p>{{sliderDisplayNum}}</p>
            <div ngD3Slider id="displayNum" [step]="1"  [length]="250" [minValue]="1" [maxValue]="20" [initialValue]="10" (selectedValue)="onSliderDisplayChange($event)"></div>
        </td>
    </tr>
</table>