agm-map {
    height: 700px;
  }
  
.flash-message-container {
  height: 60px;
  overflow: hidden;
}

#content-box {
  position: absolute;
  word-wrap: break-word;
  width: 360px;
  height: 700px;
  right: 25px;
  top: 155px;
  border: 3px solid #73AD21;
}